html,
body {
  height: 100%;
  @extend %Monts-Light;
  //   color: $text;
  position: relative;
  // overflow-x: hidden;
  margin: 0 auto;
  font-size: 16px;
  color: $white;
  background-color: $background;
}

body.menu-opened {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  margin: 3px;
}

::-webkit-scrollbar-track {
  background-color: $background;
  position: relative;
}

::-webkit-scrollbar-thumb {
  // background-color: $green;
  background: $background;
  border-radius: 5px;
  border: 1px solid $blue;

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1764px;
  margin: 0 auto;
  padding: 0 126px;
}

.section {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}

.title {
  @extend %Monts-Regular;
  font-size: 60px;
  margin-bottom: 50px;
  max-width: fit-content;
  // position: relative;
  // z-index: 10;
}


.global__btn {
  padding: 10px 33px;
  border: 1px solid $background;
  border-radius: 5px;
  background-color: $blue;
  color: $background;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background-color: $white;
  }
}