%Monts-Regular {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: normal;
  display: swap;
}
%Monts-Light {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: normal;
  display: swap;
}
%Monts-Medium {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: normal;
  display: swap;
}
%Monts-Regular {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: normal;
  display: swap;
}

$blue: #00FFFB;
$white: #FFFFFF;
$background: #1C3748;
// $line: #BCB3A9;