%Monts-Black {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: normal;
  display: swap;
}
%Monts-Light {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: normal;
  display: swap;
}
%Monts-Medium {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: normal;
  display: swap;
}
%Monts-Regular {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: normal;
  display: swap;
}

$blue: #00FFFB;
$white: #FFFFFF;
$background: #142936;
$background-item: #1C3748;

@mixin screen-bg {
  background: linear-gradient(180deg, rgba(20, 41, 54, 0) 28.17%, #142936 100%);
}

// $line: #BCB3A9;