@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  background-color: $background;
  // background-color: #4A6382;
  padding: 10px 0;
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 0;
  right: 0;
}



.header__fixed {
  position: fixed;
  width: 100%;
  top: 5px;
  left: 0;
  animation-name: show_header;
  animation-duration: 1s;
  z-index: 100;
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px
  }

  100% {
    opacity: 1;
    top: 0;
  }
}




.header__logo {
  // padding-right: 200px;
  margin-right: 200px;
  width: 62px;

  img {
    position: absolute;
    top: -5px;
    width: 62px;
    height: 70px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: inline-block;
  transition: all .3s;

  &:hover {
    color: $blue;
  }

  +.menu-list {
    margin-left: 50px;
  }
}

.mob-menu__contacts-link {
  transition: all .3s;
  display: block;

  &:hover {
    color: $blue;
  }
}

.menu__btn {
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 100;
  display: none;
  // background-color: $blue;
  padding-top: 4px !important;
  border-radius: 5px;
  // border: 1px solid $blue;
  z-index: 3;

  &.active {
    .row {
      height: 3px;
    }

    .row1 {
      transform: rotate(45deg);
      position: relative;
      top: 8px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row2 {
      transform: rotate(-45deg);
      position: relative;
      top: -1px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row3 {
      opacity: 0;
    }
  }
}

.row {
  width: 25px;
  background-color: $white;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s;
  margin: 6px auto;
}

.mob-menu {
  display: none;
}


.header__contants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  margin-right: 30px;
  margin-top: 5px;
}

.social__list {
  display: inline-block;
  width: 30px;
  height: 30px;

  +.social__list {
    margin-left: 20px;
  }
}

// end header

// start section main-sreen
.main-screen {
  padding-top: 230px;
  width: 100%;
  // height: 100%;
  // margin-top: -25px;
  height: 90vh;
  background-image: url('../images/content/main-screen-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @include screen-bg;
  }
}

.main-screen__title {
  @extend %Monts-Black;
  // font-size: 128px;
  font-size: 120px;
  // line-height: 80px;
  // line-height: normal;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.main-screen__btn {
  margin: 0 auto;
  text-align: center;
  display: block;
}

// end section main-sreen

// start section popular-ex
.popular-ex__inner {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.popular-ex__item {
  width: 50%;
}

.popular-ex__item-img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.popular-ex__item-content__box--left {
  padding-right: 50px;
  margin-bottom: 30px;
  padding-top: 10px;
}


.popular-ex__item-content-number {
  font-size: 128px;
  color: rgba(74, 99, 130, 0.5);
  @extend %Monts-Black;
}

.popular-ex__item-content__box {
  border-top: 1px solid $blue;
  max-width: 500px;
  width: 100%;
  margin-left: 71px;
}

.popular-ex__item-content__box-title {
  @extend %Monts-Light;
  font-size: 32px;
  margin-bottom: 15px;
}

.popular-ex__item-content__box-text {
  margin-bottom: 30px;
}

.popular-ex__item-content--right {
  margin-left: 20px;
}

.popular-ex__btn {
  display: block;
  margin: 0 auto;
}

// end section popular-ex

// start section adv
.adv__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.adv__item-title {
  margin-bottom: 15px;
  font-size: 32px;
  @extend %Monts-Light;
}

.adv__item {
  padding-left: 10px;
  border-left: 1px solid $blue;
}

// end section adv

// start section main-rent
.main-rent__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 50px;
}

.main-rent__item {
  width: 100%;
}

.main-rent__img {
  width: 100%;
  object-fit: cover;
  height: 450px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.main-rent__descr {
  margin-bottom: 30px;
}

.main-rent__btn {
  display: block;
  margin: 0 auto;
  // background-color: transparent;
  background-color: $background-item;
  color: $white;
  border-color: $white;

  &:hover {
    color: $background;
  }
}

.main-rent__btn-global {
  display: block;
  margin: 0 auto;
}

// end section main-rent

// start section included
.included__inner {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.included__item {
  max-width: 230px;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.included__img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.included-title {
  font-size: 24px;
}

// end section included

// start section individual
.individual {
  overflow: hidden;
  // margin-bottom: -1000px;
  position: relative;

  // height: fit-content;
  // margin-bottom: 200px;
  // max-width: 1920px;
  // width: 100%;
  // margin: 0 auto;
  margin-bottom: -500px;
}

.individual__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 450px;
}

.individual__item {
  width: 50%;
  // position: relative;


}

.individual__item-images {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-color: $blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 106px;
    right: -6px;
  }

  &::after {
    position: absolute;
    // z-index: -1;
    content: '';
    width: 1000px;
    height: 1000px;
    border: 1px solid $blue;

    border-radius: 50%;
    top: 130px;
    right: -520px;
    // overflow: hidden;

  }
}

.individual__img {
  border-radius: 50%;
  width: 700px;
  position: relative;
  z-index: 1;

}

// end section individual

// start section questions
.questions__inner {
  margin-bottom: 50px;
}

.questions__item {
  padding: 20px 60px;
  max-width: 1274px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: $background-item;
  border: 1px solid $white;
  transition: all .3s;
  cursor: pointer;
}

.questions__item.main-btn {
  box-shadow: none;

  &:hover {
    box-shadow: 0px 0px 10px rgba(255, 1255, 255, 0.5);
  }
}

.questions__wrapper {
  position: relative;
  z-index: 10;
}

.questions__item-title {
  display: flex;
  justify-content: space-between;
}

.questions__item-title--text {
  position: relative;
  @extend %Monts-Regular;
  font-size: 22px;
}

.questions__item-title--btn.active {
  transition: all .3s;

  .questions__row-1 {
    transform: rotate(45deg);
  }

  .questions__row-2 {
    transform: rotate(-45deg);
    top: 9px;
  }
}

.questions__row {
  height: 3px;
  width: 25px;
  border-radius: 10px;
  margin-left: 20px;
  transition: all .3s;
  background-color: $white;
}

.questions__row-1 {
  transform: rotate(90deg);
  position: relative;
  top: 12px;
}

.questions__row-2 {
  position: relative;
  top: 10px;
}

.questions__item-text {
  padding-top: 25px;
  display: none;
}

.questions__text-open {
  display: block;
}

.questions__btn {
  display: block;
  margin: 0 auto;
}

// end section questions


// start section reviews
.reviews__wrapper-slider{
  position: relative;
  max-width: 1200px;
  // width: 100%;
  margin: 0 auto;
}
.reviews__wrapper{
  padding: 0 80px;
}
.reviews__inner {
  max-width: 970px;
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  position: relative;
  margin: 0 auto;
  height: 500px;
}

.reviews__images {
  width: 580px;
  height: 450px;
  // position: relative;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
}

.reviews__img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 5px;
}

.reviews__content {
  padding: 20px;
  // background-color: $background-item;
  background: linear-gradient(135deg, rgba(74, 99, 130, 0.5) 0%, #1c3748 100%);
  border-radius: 5px;
  border: 1px solid #4A6382;
  margin-right: -100px;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 0;
  max-width: 580px;
  width: 100%;
  overflow-x: auto;
  height: 300px;
}

.reviews__name {
  @extend %Monts-Medium;
  font-size: 20px;
  margin-bottom: 20px;
}

// end section reviews
@import 'media';